.section3 {
    padding-top: 200px;


    .images {
        width: 31px;
        height: 31px;
        display: flex;
        gap: 350px;
        margin-left: 190px;
        margin-top: 80px;

    }

    h3 {
        width: 255px;
        color: #83888F;
        font-family: serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 200px;
        margin-top: 190px;
    }

    .image1 {
        display: flex;
    }

    hr {

        width: 760px;
        margin-left: 190px;
        color: #0E8784;
        margin-top: -15px;
    }

    .numbers {
        display: flex;
        gap: 310px;
        margin-left: 190px;
        margin-top: 65px;

        p {
            color: #FDD6BA;
            font-family: serif;
            font-size: 72px;
            font-style: normal;
            font-weight: 900;
            line-height: 72px;
        }
    }
}


.conteiner1 {
    display: flex;
    gap: 95px;
    margin-left: 190px;
}

.box5 {
    width: 285px;

    h4 {
        width: 255px;
        color: #333D4B;
        font-family: serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        padding-top: 25px;
    }

    p {
        width: 285px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding-top: 40px;

    }

    button {
        width: 217px;
        height: 56px;
        border: none;
        border-radius: 6px;
        background: #0E8784;
        color: #FEFCF7;
        text-align: center;
        font-family: serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
        margin-top: 56px;
    }
}

.box6 {
    width: 285px;

    h4 {
        width: 255px;
        color: #333D4B;
        font-family: serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        padding-top: 25px;
    }

    p {
        width: 285px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding-top: 40px;

    }


}

.box7 {
    width: 285px;

    h4 {
        width: 255px;
        color: #333D4B;
        font-family: serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        padding-top: 25px;
    }

    p {
        width: 285px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding-top: 40px;

    }

}